/* Write your code here. */
.emoji-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: transparent;
    padding: 30px;
    border: 2px solid #ffffff30;
    margin: 5px;
  }
  .emoji {
    height: 140px;
    width: 140px;
  }
  .emoji-btn {
    border-style: none;
    background-color: transparent;
  }
  